.footer {
 /* position: fixed; */
 left: 0;
 width: 100%;
 color: #fff;
 text-align: center;
 /* padding-bottom: 20px; */
 opacity: 1; 
 transition: opacity 0.3s ease, bottom 0.3s ease; 
}
.containerlog2 {
  height: 20vh;
  background: rgba(230, 224, 224, 0.144);
  position: relative;
}
/*--------------------------------News dev---------------------------*/
.news{
  min-height: 100vh;
  margin-top: 90px;
  background: white;
  display: flex;
  flex-direction: column;
}
.news_header{
  display: flex;
  margin-top: 40px;
  margin-left: 150px;
  position: absolute;
  justify-content: center;
  align-items: center;
}
.news_h1{
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin-right: 40px;
}
.button_news_div{
  display: flex;
  align-items: center;
}
.fa-plus {
  font-size: 1.6rem; 
  color: #642a99;
  transition: transform 0.3s ease; 
}
.fa-plus:hover {
  transform: scale(1.3); 
}


.news_hr {
  position: relative;
  top: 105px;
  left: 120px;
  background-color: black;
  width: 35%;
  height: 2.5px; 
  border-radius: 50px; 
}

.news_button{
  border: 4px solid rgb(168, 161, 161);
  font-family: 'Oswald',sans-serif;
  background: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  height: auto;
  border-radius: 50px;
  margin-right:20px;
  width: 120px;
  text-align: left;
  display: inline-block;
  padding: 5px;
  padding-left: 20px;
  cursor: pointer;  
  transition: box-shadow 0.3s ease; 
}
.news_active_button{
  border: 4px solid #642a99;
  background: #Fff;
}
.news_active_button:hover{
  box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.3);
  background: #F7EDFA;
}
.news_nonactive_button:hover{
  border: 4px solid rgb(148, 141, 141);
  background: #f0eeee;
  color: #2f1a42;
  box-shadow:  0px 4px 10px rgba(0, 0, 0, 0.3);
}
.news_oglosz_1{
  margin-top: 120px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: rgba(41, 35, 35, 0.7);
  width: 90%;
  padding:20px 20px 20px 80px ;
  height: 140px; 
  overflow: hidden; 
  transition: height 0.3s ease;
  cursor: pointer;
}
.news_oglosz{
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: rgba(41, 35, 35, 0.7);
  width: 90%;
  padding:20px 20px 20px 80px ;
  height: 140px; 
  overflow: hidden; 
  transition: height 0.3s ease;
  cursor: pointer;
}
.news_message_header{
  display: flex;
  align-items:last baseline;
}
.news_message_type{
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
  color:#FFFFFF ;
  font-size: 2.4rem;
  margin-right: 100px;
}
.news_message_date{
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
  color:#FFFFFF ;
  font-size: 1.3rem;
}
.news_message_text{
  font-family: 'Oswald',sans-serif;
  font-weight: 200;
  color:#FFFFFF ;
  font-size: 1.1rem;
}
.div_for_news_1{
  margin-top: 120px;
  margin-left: 60px;
  margin-right: 60px;
  background-color: rgba(41, 35, 35, 0.7);
  width: 90%;
  padding:20px 20px 20px 80px ;
  height: 140px; 
  overflow: hidden; 
  transition: height 0.3s ease;
  cursor: pointer;
}
.div_for_news{
  margin-top: 20px;
  margin-left: 60px;
  background-color: rgba(41, 35, 35, 0.7);
  width: 90%;
  padding:20px 20px 20px 80px ;
  height: 140px; 
  overflow: hidden; 
  transition: height 0.3s ease;
  cursor: pointer;
}
.expanded_for_news{
  height: auto;
}
.div_for_news_title{
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
  color:#FFFFFF ;
  font-size: 2.4rem;
  margin-right: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.div_for_news_text{
  font-family: 'Oswald',sans-serif;
  font-weight: 200;
  color:#FFFFFF ;
  font-size: 1.1rem;
}
.div_image_news{
  width: 94%;
  display: flex;
  justify-content: center;
}
.div_for_news_image{
  width: 100%; 
    height: auto; 
    object-fit: cover;
}
.news_news_div{
  display: flex;
  flex-direction: column;
}
.news_oglosz_1{
  display: flex;
  flex-direction: column;
  align-items:left;
}
.news_oglosz{
  display: flex;
  flex-direction: column;
  align-items:left;
}
.events{
  display: flex;
  flex-direction: column;
  align-items: left;
}
.div_for_news_1{
  display: flex;
  flex-direction: column;
  align-items:left;
}
.div_for_news{
  display: flex;
  flex-direction: column;
  align-items:left;
}
/* -------------------------------eclips_menu_for_posts----------------------------- */
.fa-ellipsis-vertical{
  position: absolute;
  top: 17px;
  right: 28px;
  z-index: 109;
  color:#fff;
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}
.container_elips{
  position: relative;
display: inline-block;
}
.frame1{
  width: 100px;
  height: 80px;
  background-color:#282828;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 5px;
  position: absolute;
  display: none;
  top: 15px;
  right: 30px;
} 
.frame1 .info{
  font-size: 15px;
  color: #F5F5F5;
  cursor: pointer;
}
.frame1 .info{
  height: 40px;
} 
.delete{
  display: flex;
  align-items: center;
}
.update{
  display: flex;
  align-items: center;
}
.delete_button{
  border: none; 
  font-family:'Shippori Antique',sans-serif;
  background-color: transparent; 
  font-size: 15px; 
  color: #F5F5F5; 
  cursor: pointer; 
}
.fa-pen{
  margin-left: 10px;
}
.fa-trash{
  margin-left: 10px;
}
.frame1 .info:hover{
  background-color:#535353;
}
.frame1 .info button{
  margin-left: 10px;
}
.frame1 .info span{
  margin-left: 7px;
}
.container_elips:hover .frame1{
  display: block;
}

@media (max-width:992px){
  .news_hr {
    width: 70%;
  }
}
@media screen and (max-width:768px){
  .news{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news_header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .news_news_div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .events{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news_hr{
    top: 160px;
    left: 0px;
    width: 80%;
  }
  .events{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .news_oglosz_1{
    margin-top: 170px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    width: 90%;
  }
  .news_oglosz{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    width: 90%;
  }
  .news_news_div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .div_for_news_1{
    margin-top: 170px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 30px;
    width: 90%;
  }
  .div_for_news{
    margin-left: 0px;
    width: 90%;
    padding-left: 30px;
  }
  /* .news_message_type{
    margin-right: 60px;
  } */
  .news_message_date{
    font-size: 0.9rem;
  }
  .news_oglosz_1 .fa-ellipsis-vertical{
    top: 17px;
    right: 8px;
  }
  .news_oglosz_1 .frame1{
    top: 25px;
    right: 15px;
  } 
  .news_oglosz .fa-ellipsis-vertical{
    top: 17px;
    right: 8px;
  }
  .news_oglosz .frame1{
    top: 25px;
    right: 15px;
  } 
}
@media (max-width:580px){
  .news_oglosz{
    width: 90%;
    padding-left: 20px;
  }
  .news_oglosz_1{
    width: 90%;
    padding-left: 20px;
  }
}
.events{
  display: none;
}
/* .news_news_div{
  display: none;
} */