@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255,255,255);
}
.navbar {
    background-color: rgb(255,255,255);
    border-bottom: 2.5px solid black;
    height: 60px; 
}

.navbar-brand-logo {
    height: 52px; 
}
@media (max-width:992px) {
    .navbar-brand-logo {
        height: 44px; 
    }
}

.navbar-custom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navbar-toggler{
    margin-bottom: 10px;
}
.nav-item {
    margin: 0 10px;
}

.offcanvas-header {
    justify-content: space-between;
}

.oswald {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: black;
}
.logo{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.logo2{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.containerlog{
    width: 100%;
    height: 100vh;
}

  /* -------------------------footer--------------------------------*/
  .footer{
    background-color: rgb(255,255,255);
    border: 1px solid  rgb(104,42,139);
  }
  @media (min-width:576px){
    .footer__container{
      padding: 40px 0;
    }
    .footer__container .accordion{
      display: flex;
      justify-content:space-between;
      margin: -1rem 0rem -2rem 0rem;
      padding: 0rem 8rem 0rem 8rem;
    }
  }
.footer__container .accordion .accordion-item{
  border: none;
  background-color: rgb(255,255,255);
}
.footer__container .accordion .accordion-item:last-child .accordion-collapse.show{
  box-shadow: inset 0 -1px rgba(0,0,0,0.13);
}
@media(min-width:576px){
  .footer__container .accordion .accordion-item:last-child .accordion-collapse.show{
    box-shadow: none;
  }
}
.footer__container .accordion .accordion-button{
  border-radius: 0;
  background-color: white;
  color: #000;
  padding: 15px 10px;
  font-weight: 400;
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.13);
}
@media(min-width:576px){
  .footer__container .accordion .accordion-button{
    box-shadow: none;
    pointer-events: none;
    padding: 0 10px;
    
  }
  .footer__container .accordion .accordion-button::after{
    display: none;
  }
  .footer__container .accordion .accordion-collapse.collapse:not(.show){
    display: block;
  }
}
.footer__container .accordion .accordion-body{
  padding: 15px 10px;
  
}
.footer__container .accordion .accordion-body .list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer__container .accordion .accordion-body .list li{
  padding: 2px 0;
}
.footer__container .accordion .accordion-body .list a{
  display: block;
  color: #000;
  text-decoration: none;
}
.footer__copyright{
  background-color:  rgba(104,42,139,0.8);
}
.footer__copyright p{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  color: rgb(255,255,255);
  font-size: 12px;
}
.oswald_small{
  font-family: 'Oswald';
  font-weight: 300;
}
@media (max-width: 576px) {
  .accordion-button {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  .footer__container .accordion .accordion-body .list a{
    text-align: center;
  }
}
.footer {
  /* position: fixed; */
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  /* padding-bottom: 20px; */
  opacity: 1; 
  transition: opacity 0.3s ease, bottom 0.3s ease; 
}
.containerlog2 {
  height: 10vh;
  background: #fff;
  position: relative;
}

/*----------------------User info-------------------------- */
.profile {
  position: fixed; 
  top: 200px; 
  left: 10px; 
  width: 250px; 
  margin-right: 10px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  z-index: 1000; 
}

.container__user {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: center;
  min-height: 100vh;
  padding-left: 270px; /* Adjust this value to match the width of the fixed profile div plus some margin */
}

.profile-header{
  display: flex;
  margin-left: 15px;
}
 .wrapper__img *{
  margin: 0;
  padding: 0;
 }
.wrapper__img{
  width: 60px;
  height: 60px;
  border-radius: 10px;
  border: 5px solid #fff;
  margin: 0px;
  position: relative;
  background: url('../images/img3.png');
  background-size: 100% 100%;
  overflow: hidden;
}
.my_file{
  position: absolute;
  right: -14px;
  align-items: center;
  outline: none;
  color: transparent;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  bottom: -16px;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0,0,0,0.5);
  opacity: 0;
}
.my_file::-webkit-file-upload-button{
  visibility: hidden;
}
.my_file::before{
  content: '  \f030';
  font-family: fontAwesome;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  -webkit-user-select:none;
}
.my_file::after{
  content: 'Update';
  font-family: 'Oswald',sans-serif; 
  display: block;
  color: #fff;
  top: 32px;
  left: 12px;
  font-size: 14px;
  position: absolute;
}
.my_file:hover{
  opacity: 1;
}
.profile-text-container{
  line-height: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-title{
  font-family: 'Oswald',sans-serif;
  font-size: 20px;
}
.profile-email{
  font-family: 'Oswald',sans-serif;
  font-size: 14px;
}
.menu{
  margin: 0 20px;
}
.menu-link{
  display: block;
  text-decoration: none;
  color: #768499;
  font-family: 'Oswald',sans-serif;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}
.menu-icon{
  margin-right: 10px;
}
.menu-link.active-link{
  color: #fff;
  background-color:rgb(138, 57, 185);
}
.menu-link:hover{
  background-color: #f1f5f9;
  color: #1e293b;
}
.menu-link.active-link:hover{
  color: #fff;
  background-color:rgb(138, 57, 185);
}
/*-----------------------Account Settings------------------*/
.account{
  flex: 4;
  margin-left: 10px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
  border-radius: 5px;
  height: 70vh;
} 

.account-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  border-bottom: 1px solid #768499;
}

.account-title{
  font-family: 'Oswald',sans-serif;
  font-size: 20px;
  color: #1e293b;
  font-weight: 500;
  margin-left: 10px;
}
.btn-container{
  margin-right: 5px;
}
.btn-cancel{
  width: 8em;
  height: 3em;
  cursor: pointer;
  border: 1px solid #768499;
  border-radius: 2em;
  color: #1e293b;
  font-weight: bold;
  margin-right: 5px;
  background-color: #fff;
  transition-duration: 0.3s;
  box-shadow: rgba(0,0,0,0.1);
}

.btn-cancel:hover{
  background-color: #f1f5f9;
}
.btn-save{
  width: 8em;
  height: 3em;
  cursor: pointer;
  border: 1px solid rgb(138, 57, 185);
  border-radius: 2em;
  color: #fff;
  font-weight: bold;
  margin-left: 5px;
  background-color: rgb(138, 57, 185);
  transition-duration: 0.3s;
  box-shadow: rgba(0,0,0,0.1);
}
.btn-save:hover{
  background-color:rgb(116, 49, 155);
}
.account-edit{
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.input-container label{
  font-family: 'Oswald',sans-serif;
  color: #768499;
  font-size: 14px;
}
.input-container input{
  height: 25px;
  border: 1.5px solid #768499;
  border-radius: 5px;
  padding: 5px;
  color: #768499;
  font-family: 'Oswald',sans-serif;
}
.input-container input:focus{
  outline: none;
  border: 1.5px solid #536df3;
}
.input-container textarea{
  display: block;
  width: 100%;
  height: 100px;
  padding: 5px;
  border: 1.5px solid #768499;
  border-radius: 5px;
  font-family: 'Oswald',sans-serif;
  color: #768499;
}
.input-container textarea:focus{
  outline: none;
  border: 1.5px solid #536dfe;
}
@media screen and (max-width:768px){
  .profile {
    position: static; 
    width: 90%; 
    margin-bottom: 20px;
  }

  .container__user {
    padding-left: 0; /* Remove the left padding to make full use of screen space */
    flex-direction: column; /* Stack the elements vertically */
    align-items: center;
    justify-content: center;
    margin-top: 90px;
  }
  .account{
    margin: 0;
    width:90%;
  }
  .account-header{
    flex-direction: column;
    padding:10px 0 0 10px;
  }
  .account-edit{
    flex-direction: column;
    margin: 10px;
  }
  .input-container{
    margin: 10px;
  }
  .input-container input{
    margin-right: 10px;
  }
  .input-container textarea{
    display: block;
    width: auto;
    margin-right: 10px;
  }
  .menu{
    display: none;
  }
  .profile{
    flex: 0;
    height: min-content;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0em;
  }
  /* .account{
    flex: 0;
    height: max-content;
  } */
}
/*-------------------------Account_info-------------------------------------*/
.account_info{
  flex: 4;
  margin-left: 10px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
  border-radius: 5px;
  height: 70vh;
} 
.account_info-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  border-bottom: 1px solid #768499;
}

.account_info-title{
  font-family: 'Oswald',sans-serif;
  font-size: 20px;
  color: #1e293b;
  font-weight: 500;
  margin-left: 10px;
}
.info_all{
  display: flex;
}
.account_info-edit{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px;
}
.account_info-edit.first{
  margin-top: 50px;
}
.input_info-container{
  width: 100%;
  display: flex;
  margin: 0 20px;
}
.input_info-container label{
  font-family: 'Oswald',sans-serif;
  color: #768499;
  font-size: 14px;
}
.input_info-container p{
  height: 25px;
  border-radius: 5px;
  margin-left: 10px;
  color: black;
  font-family: 'Oswald',sans-serif;
}
@media screen and (max-width:768px){
  .account_info{
    margin: 0;
    width:90%;
  }
  .account_info-header{
    flex-direction: column;
    padding:10px 0 0 10px;
  }
  .info_all{
    flex-direction: column;
  }
  .account_info-edit{
    flex-direction: column;
    margin: 10px;
  }
  .account_info{
    flex: 0;
    height: max-content;
  }
  .input_info-container p{
    margin-right: 10px;
  }
}

.image_info{
  width: 70%;
  height: 60vh;
  border-radius: 10px;
  border: 5px solid #fff;
  margin: 0px;
  position: relative;
  background: url('../images/img3.png');
  background-size: 100% 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my_file_info{
  position: absolute;
  align-items: center;
  outline: none;
  color: transparent;
  box-sizing: border-box;
  width: 100%;
  height:60vh;

  cursor: pointer;
  transition: 0.5s;
  background: rgba(0,0,0,0.5);
  opacity: 0;
}
.my_file_info::-webkit-file-upload-button{
  visibility: hidden;
}
.my_file_info::before{
  content: '\f030';
  font-family: fontAwesome;
  color: #fff;
  font-size: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select:none;
}
.my_file_info:hover{
  opacity: 1;
}
.text_info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 60%;
}
@media screen and (max-width:768px){
  .info_all{
    width: auto;
    align-items: center;
    height: 120vh;
  }
  .my_file_info::before{
    font-size: 180px;
  }
}
/*-------------------------Account_notification-------------------------------------*/
.account_notification{
  display: none;
}
.account_info{
  display: '';
}
 .account{
  display: none;
}
.account_notification{
  flex: 4;
  margin-left: 10px;
  background: #fff;
  box-shadow: rgba(0,0,0,0.16) 0px 1px 4px;
  border-radius: 5px;
  min-height: 70vh;
} 
.account_notification-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  border-bottom: 1px solid #768499;
}

.account_notification-title{
  font-family: 'Oswald',sans-serif;
  font-size: 20px;
  color: #1e293b;
  font-weight: 500;
  margin-left: 10px;
}
@media screen and (max-width:768px){
  .account_notification{
    margin: 0;
    width:90%;
  }
  .account_notification-header{
    flex-direction: column;
    padding:10px 0 0 10px;
  }
}
.notification_message{
  border: 1px solid black;
  margin:20px 10px 30px 5px;
  border-radius: 20px;
  padding: 10px 0px 0px 30px;
  box-shadow: rgba(0,0,0,0.16) 0px 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  overflow:hidden;
  width: 98%;
}
.not_message_header{
  font-family: 'Oswald',sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
}
.not_message_text{
  font-family: 'Oswald',sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.fa-ellipsis-vertical{
  position: absolute;
  top: 7px;
  right: 40px;
  z-index: 109;
  color:#31313D;
  font-size: 20px;
  opacity: 0.7;
  cursor: pointer;
}
/* -------------------------------eclips_menu_for_posts----------------------------- */
.container_elips{
  position: relative;
display: inline-block;
}
.frame1{
  width: 100px;
  height: 80px;
  background-color:#282828;
  border: 2px solid rgba(255,255,255,.5);
  border-radius: 5px;
  position: absolute;
  display: none;
  top: 25px;
  right: 35px;
} 
.frame1 .info{
  font-size: 15px;
  color: #F5F5F5;
  cursor: pointer;
}
.frame1 .info{
  height: 40px;
} 
.delete{
  display: flex;
  align-items: center;
}
.update{
  display: flex;
  align-items: center;
}
.delete_button{
  border: none; 
  font-family:'Shippori Antique',sans-serif;
  background-color: transparent; 
  font-size: 15px; 
  color: #F5F5F5; 
  cursor: pointer; 
}
.fa-pen{
  margin-left: 10px;
}
.fa-trash{
  margin-left: 10px;
}
.frame1 .info:hover{
  background-color:#535353;
}
.frame1 .info button{
  margin-left: 10px;
}
.frame1 .info span{
  margin-left: 7px;
}
.container_elips:hover .frame1{
  display: block;
}
.image_message{
  width: 40%;
  margin-bottom: 20px;
}
.account_notification{
  margin-top: 4rem;
}
.account_info{
  margin-top: 8rem;
}
.account{
  margin-top: 8rem;
}
@media screen and (max-width:768px){
  .notification_message{
    width: 98%;
  }
  .image_message{
    width: 90%;
    margin-bottom: 20px;
  }
  .account_notification{
    margin-top: 0rem;
  }
  .account_info{
    margin-top: 0rem;
  }
  .account{
    margin-top: 0rem;
  }
}
